* {
  margin: 0;
  padding: 0;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  color: black;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #93adb7;
  box-sizing: border-box;
  letter-spacing: 1px;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbarItemsContainer {
  display: flex;
  justify-content: flex-start;
  padding: 12px;
  width: 100%;
  font-family: 'Optima', sans-serif;
}

.navbarBtnContainer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
}

.btn {
  padding-left: 15px;
}

.link {
  color: black;
  text-decoration: none;
  margin-left: 24px;
}

.link:hover {
  text-decoration: underline;
}

.nav-btn {
  padding: 5px;
  background: transparent;
  border: none;
  outline: none;
  color: black;
  visibility: hidden;
  opacity: 0;
  font-size: 1.5rem;
}

.shoppingBag {
  background: none;
  border: none;
  width: 36px;
  height: 36px;
  padding-top: 1px;
  padding-left: 64px;
}

@media only screen and (max-width: 1024px) {
  .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  .navContainer {
    position: fixed;
    top: 0;
    left: 0;
    /*height: 100%;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: #a8c5cd;
    transition: 1s;
    transform: translateY(-100vh);
  }

  .navbarItemsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbarBtnContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
  }

  .responsive_nav {
    transform: none;
  }

  .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  .link {
    font-size: 1.5rem;
    margin-left: 0;
    padding-bottom: 12px;
  }

  .logoContainer > img {
    width: 150px;
    height: 34px;
  }

  .shoppingBag {
    padding: 0;
  }
}
